.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 110px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}

.titleText {
  font-size: 24px;
}

.staysCount {
  color: #4f4f4f;
  font-size: 14px;
  font-weight: 500;
}

.stays {
  display: flex;
  flex-wrap: wrap;
}
.footer {
  text-align: center;
  margin-top: 60px;
}
.contactInfo {
  font-weight: 600;
  font-size: 14px;
  color: #a9a9a9;
  display: inline-block;
  padding: 22px 80px;
  border-top: 1px solid #bdbdbd;
  margin: 0 auto;
}

.ntd {
  width: 100%;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
@media (max-width: 1199.98px) {
  .container {
    max-width: 992px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 768px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: 576px;
    padding-top: 150px;
  }
}

@media (max-width: 575.98px) {
}
